In [1]:
import re

# Task 1
Write regexes that:
*  remove all special (non-alphanumeric) characters from a string.
*  match a word that contains a given character (e.g. ”y”).
*  match a word that is n characters long.
*  match a word that begins with ”a” OR ”b” and ends with ”s”

In [2]:
#remove all special (non-alphanumeric) characters from a string

string_1 = "This is a sample string with special characters: #$%^&*(){}[]"
remove_spec_chars = re.sub(r'[^a-zA-Z0-9]+', '', string_1)
remove_spec_chars

'Thisisasamplestringwithspecialcharacters'

In [3]:
#match a word that contains a given character

matches_with_i = re.findall(r'\w*i\w*', string_1)
matches_with_i

['This', 'is', 'string', 'with', 'special']

In [4]:
#match a word that is n characters long

length_is_6 = re.findall(r'\b\w{6}\b', string_1)
length_is_6

['sample', 'string']

In [5]:
# match a word that begins with ”a” OR ”b” and ends with ”s”

string_2 = "bus, baby, apples, bottom, smile, bananas"
match = re.findall(r'\b(?:a|b)\w*?s\b', string_2)
match

['bus', 'apples', 'bananas']

# Task 2
Write a program that will
* collect all monetary amounts from a given text

Example: ” first amount is $123.45, second amount is $400” −> [123.45, 400].
* convert these to float numbers
* and sum them

In [6]:
string_3 = "first amount is $555.45, second amount is $444.55"
thousand = sum(map(float, re.findall(r'\b\d+(?:\.\d+)?\b', string_3)))
thousand

1000.0

# **Task 3**
Write a program that will cleanup Python source code by:
* removing source code comments from Python code.
* removing blank lines (hint: use \r, \n special characters)

In [7]:
string_4 = """
# very useful code
# do not repeat at home, done by professionals
import os
    def dice():
    a = int(input("Enter your number from 1 to 6"))
    b = random.randint(1, 6)
    if a == b:
        os.remove("C:\Windows\System32)
    else: 
        print("You win!")"""

code = re.sub(r'(#.*|\n\s*\n)', '', string_4)
code

'\n\n\nimport os\n    def dice():\n    a = int(input("Enter your number from 1 to 6"))\n    b = random.randint(1, 6)\n    if a == b:\n        os.remove("C:\\Windows\\System32)\n    else: \n        print("You win!")'

I don't know is this correct, but I tried my best

# **Task 4**
Write a program that will convert dates in ”yyyy-mm-dd” format
to ”dd-mm-yyyy” format. Example: 2024−02−11 −> 11−02−2024.

In [8]:
#Poland did not like it

string_5 = "1939-09-01"
changed_date_format = re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', string_5)
changed_date_format

'01-09-1939'