In [1]:
import sqlite3

### Connecting to database and creating table

In [2]:
con = sqlite3.connect("Movies.db")
cur = con.cursor()

In [3]:
cur.execute("""CREATE TABLE If Not Exists Movies (title text,
                                                  year integer,
                                                  director text,
                                                  genre text,
                                                  rating real)""")

### Creating class Movie and adding methods
1) select
2) insert
3) update rating
4) delete

In [4]:
class Movie:
    def __init__(self, title, year, director, genre, rating):
        self.title = title
        self.year = year
        self.director = director
        self.genre = genre
        self.rating = rating
    
    @classmethod    
    def select_movie(self, name):
        cur.execute("Select * from Movies where title=?", (name,))
        res = cur.fetchone()
        return Movie(res[0],res[1],res[2], res[3],res[4])
    
    def insert_movie(self):
        cur.execute('INSERT INTO Movies(title, year, director,genre, rating) Values(?,?,?,?,?)', (self.title, self.year, self.director, self.genre, self.rating))
        con.commit()
            
    def update_rating(title, rating):
        cur.execute('UPDATE Movies SET rating=? WHERE title=?', (rating,title))
        con.commit()
        
    def delete(title):
        cur.execute('DELETE FROM Movies WHERE title=?', (title,))
        con.commit()

In [5]:
movie_1 = Movie('Lord of the rings 1', 2001, 'Peter Jackson', 'adventure', 8.9)
movie_2 = Movie('Man in black', 1997, 'Barry Sonnenfeld', 'action', 7.3)
movie_3 = Movie('Spider-Man', 2002, 'Sam Raimi', 'superhero', 7.4)

### Showing that methods insert and select are working below:

In [6]:
movie_1.insert_movie()

In [7]:
Movie.select_movie('Lord of the rings 1').__dict__

{'title': 'Lord of the rings 1',
 'year': 2001,
 'director': 'Peter Jackson',
 'genre': 'adventure',
 'rating': 8.9}

### Updating rating of this masterpiece to 10 :)

In [8]:
Movie.update_rating('Lord of the rings 1', 10)

In [9]:
Movie.select_movie('Lord of the rings 1').__dict__

{'title': 'Lord of the rings 1',
 'year': 2001,
 'director': 'Peter Jackson',
 'genre': 'adventure',
 'rating': 10.0}

### Deleting the masterpiece :(

In [10]:
Movie.delete('Lord of the rings 1')

In [11]:
res = cur.execute("select * from Movies")
res.fetchall()

[]

### And one more evidence that everything is working!!!

In [14]:
movie_3.insert_movie()

In [15]:
res = cur.execute("select * from Movies")
res.fetchall()

[('Spider-Man', 2002, 'Sam Raimi', 'superhero', 7.4)]